body {
  font-family: monospace;
  background-color: #252b37;
}

.App {
  text-align: center;
  color: #61dafb;
}

.Header {
  text-align: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}